@import "tailwindcss";

/* 1. On connecte nos variables aux classes Tailwind v4 */
@theme {
  --color-background: var(--bg-main);
  --color-surface: var(--bg-surface);
  --color-secondary: var(--bg-secondary);
  --color-primary: var(--text-primary);
  --color-muted: var(--text-secondary);
  --color-border-custom: var(--border-color);
  --color-accent: var(--accent);
}

:root {
  --bg-main: #FFF0E5;        
  --bg-surface: #FFFFFF;    
  --bg-secondary: #FFE0CC; 
  
  --text-primary: #000000;  
  --text-secondary: #5C4A45; 
  
  --border-color: rgba(0, 0, 0, 0.1);
  --accent: #EB5E28;       
}

.dark {
  --bg-main: #1E1211;        
  --bg-surface: #0F0908;     
  --bg-secondary: #2A1A18;   
  
  --text-primary: #FFF8F0;  
  --text-secondary: #DCCBC4;
  
  --border-color: rgba(255, 255, 255, 0.1);
  --accent: #EB5E28;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}